.container
  .hero-unit
    h1 CAOS
    p The Choir and Orchestral Society of the University of Manchester
    a(href='http://manchesterstudentsunion.com/groups/choir-orchestra-society-caos', target="_blank") Check out our Society page!
  .row
    .span6
      h1 Who we are
      p 
      | We're the Choir and Orchestral Society of the University of Manchester.<br/>
      | We get together and sing and play beautiful music. We love what we do and encourage you
      | to give it a go! <strong>No prior experience is required!</strong>
      br
      br
      br
      h1 When and where do we meet?  
      p 
      | We rehearse on <strong>Tuesdays</strong><br/>
      | The Choir meet between <strong>6pm and 8pm</strong><br/>
      | The Orchestra meet between <strong>8pm and 10pm</strong><br/>
      br
      address 
        | <strong>Burlington Rooms, Schunck Building</strong><br>
        | Burlington Street<br>
        | The University of Manchester<br>
        | M13<br>
      h1 Want to get involved? 
      p 
      | You can turn up to any practise at any time! <br/>
      br
      br
      a(style="font-size: 28px; font-style: bold;", href="mailto:committee@caos.man.ac.uk?subject=Seen your website. Tell me more!") Get in touch!
      
    .span6
      #map_canvas(style='width: 460px; height: 460px;')
